<?xml version="1.0" ?>
<robot name="r6bot" xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:arg name="hardware_interface" default="mock"/>

  <link name="world"/>

  <xacro:include filename="$(find example_arm_description)/urdf/j2n6s300_urdf_macro.xacro"/>
  <xacro:j2n6s300_description base_parent="world"/>

  <xacro:if value="${'$(arg hardware_interface)' == 'mock'}">
    <xacro:include filename="$(find example_arm_hardware_interface)/urdf/r6bot_mock_ros2_control_macro.xacro"/>
    <xacro:r6bot_control />
  </xacro:if>

</robot>
